.produto-orcamento {
    display: flex;
    gap: 20px;
}

.multiplos-dados {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.img-preview {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.img-preview img {
    width: 128px;
    border: 1px solid black;
}

.produto-dados {
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 3rem;
}

.produto-dado {
    margin: 0;
    width: 25vw;
}

#prod1-qt {
    width:5ch;
}

@media only screen and (max-width: 576px) {
    .produto-dados {
        flex-direction: column;
    }
}