body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.carousel,
.carousel-inner,
.carousel-item,
.carousel-item img
{
    max-height: 100%;
}

.old-price {
    text-decoration: line-through;
    opacity: 0.75;
    color:aqua;
    font-size: 0.8em;
}

.new-price {
    font-size: 1.2em;
}