@import url("./nav.css");
@font-face {
    font-family: "Quicksand Light";
    src: url("../fonts/Quicksand.ttf");
}
@font-face {
    font-family: "PT Mono";
    src: url("../fonts/PTMono-Regular.ttf");
}

:root {
    --color-1: #10a01f;
    --color-2: #F5FF52;
    --color-3: #160098;
    --color-4: #7d4ad6;
    --color-5: #0068FF;

    font-family: "Quicksand Light";
}

body {
	overflow-x: hidden;
}

body {
    user-select: none;
}

.quicksand {
    font-family: "Quicksand Light" !important;
}

.pt-mono {
    font-family: "PT Mono" !important;
}

.whatsapp {
    position: fixed;
    bottom: 10px;
    right: 10px;
}